body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0;
  font-size: 0.9rem;
  padding-left: 2rem;
}
h1 {font-size:3rem;}
.larger {font-size:2rem;}
.smaller {font-size:0.7rem;}
.serif {
  font-family: 'Aleo', serif;
}
a {
    text-decoration-color: #ddddff;
    color: #0000dd;
    transition-duration:1s;
    transition-property: color,text-decoration-color;
}
a:hover, a:focus {
  text-decoration-color: #0000dd; 
  transition-duration:1s;
  transition-property: color,text-decoration-color;
}
a:visited {
    text-decoration-color: #faddfa;
    color: #990099;
    transition-duration:1s;
    transition-property: color,text-decoration-color;
}
a:visited:hover, a:visited:focus {
  text-decoration-color: #990099; 
  transition-duration:1s;
  transition-property: color,text-decoration-color;
}
.accessibleHidden{
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.centered {margin-left:auto;margin-right:auto;text-align:center;}
.pageMargin {margin-left:2rem;margin-right:2rem;}
.frameMargin {margin-left:2rem;margin-right:2rem;}
.black {color:#eee;background-color:#111;}
.offWhite{background-color:#fffaee;}
.banner {text-align:center; padding:0.5rem;}
.allCap {}
.clear {clear:both;}
.topMargin {margin-top:1rem;}
.doubleTopMargin {margin-top:2rem;}
.noBottomMargin {margin-bottom:0;}
.noTopMargin {margin-top:0;}
.topPadding {padding-top:1rem;}
.padding {padding:1rem;}
.bottomPadding {padding-bottom:1rem;}
hr {margin:0;}
.fullWidthImagePlaceholder, .thirdWidthImagePlaceHolder{min-width:80%;max-width:90%;min-height:3rem;border:1px solid #000;}
.thirdWidth, .thirdWidthForMed{float:left; width:33%;}
.twoThirdWidth, .twoThirdWidthForMed{float:left; width:66%;}
.halfWidth, .halfWidthForMed{float:left; width:50%;}
.hrCentered span {padding-left:1rem;padding-right:1rem;background-color:#fff;}
.hrCentered {margin-top:-1rem;}
.nonList {list-style:none; padding-left:0;}
.toggle{
  height:3px;
  width:3px;
  overflow: visible;
  position: absolute;
}
.toggle-right {right: 50px;}
.toggle a {
  height:100%;
  width:100%;
  display:block;
  top: -2em;
  position: relative;
  color:#fafafa;
}
.toggle a:hover, .toggle a:focus {color:#ccc;}
.preftext {white-space: pre;}
.light {font-weight:lighter;}
form input, form submit {margin-bottom:0.5rem;}
.sticky {position:sticky;}
