.accessibleHidden{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.debug_expandable {height: 34px; width:42px; overflow:hidden;transition-duration: 1s;
  &:hover, &:focus {height: 44px; width:52px;transition-duration: 1s;}
}

.toolbag-toggle{
  position: fixed;
  width: 32px;
  height: 32px;
  z-index: 99999;
}

.toolbag-toggle a {
  color: #000;
  font-size: 32px;
  opacity: 0.25;
}

#candy {
  top: 10px;
  right: 10px;
}

.toolbag-panel {display:none; padding:1em;}
.toolbag-panel.active {display:block;}
.panel-abs {position: absolute;top:0;z-index: 9000000;}
.panel-solid {background-color:#fff;}

.toolbag-panel ul {padding-left: 0.75em;}
.toolbag-panel ul li {padding-left: 0.25em;}

